/* @tailwind base;
@tailwind components;
@tailwind utilities; */


.navbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.footer {
    text-align: center;
}

.rightSideHeader {
    display: flex;
}

.userLogo {
    margin-left: 10px;
}

.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.pages {
    text-align: center;
    width: 100%;
}

.pages-table {
    width: 75%;
    margin: 0 auto;
}

td {
    border: 1px solid grey;
}