$color1: #2C3639;
$color2: #3F4E4F;
$color3: #A27B5C;
$color4: #DCD7C9;

$fontDetail:'Courier New', Courier, monospace;
$fontTitle: 'Times New Roman', Times, serif;
$fontHead: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

* {
    box-sizing: border-box;
    font-size: 18px;
}

body {
    font-family: $fontHead;
    color: $color4;
    background-image: url(./img/background.jpg);
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 0 200px;

    form {
        border: 1px solid $color2;
        border-radius: 10px;
        box-shadow: 1px 1px 15px 2px $color3;
        padding: 20px;
        label {
            input {
                background-color: transparent;
                border: 2px solid $color3;
                border-radius: 5px;
                color: $color4;

            }
            .button {
                background-color: transparent;
                border: 2px solid $color3;
                border-radius: 5px;
                color: $color3;
                
                &:hover {
                    background-color: $color4;
                    color: $color1;
                    font-weight: 900;
                }
            }
        }
    }
}

h1 {
    font-size: 46px;
    text-shadow: 1px 1px 15px $color4;
    padding-top: 20px;
}

main {
    color: $color1;
    display: none;
    width: 70%;
    padding: 20px 50px;
    border: 1px solid $color2;
    border-radius: 15px;
    box-shadow: 1px 1px 15px 2px $color2;
    #card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .head-container {
            font-family: $fontTitle;
            font-weight: 900;
            font-size: 24px;
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        .content {
            font-family: $fontDetail;
            font-weight: 900;
            width: 75%;
            display: flex;
            justify-content: space-between;
            
            .content-container{
                text-align: left;
            }

            .content-compare {
                text-align: right;
            }
        }
    }
}

footer {
    width: 100%;
    background-color: $color1;
    color: $color3;
    position: fixed;
    text-align: center;
    bottom: 0;
    padding:5px ;
}